
  <div class="chosen">
  <%= image_tag @first_choice[:avatar] %>
  <p>
    <%=@first_choice[:name]%> was chosen. Do they accept this trial?
  </p>

  <%= form_tag 'award', class: "choice" do %>
  <%= hidden_field_tag 'chosen', @first_choice[:name] %>
  <%= submit_tag "Aye!" %>
  <% end %>

  <%= form_tag 'award', class: "choice" do %>
  <%= hidden_field_tag 'bad_choice', @first_choice[:name] %>
  <%= hidden_field_tag 'chosen', @chosen[0][:name] %>
  <%= submit_tag "Nay!" %>
  <% end %>



</div>
<div class="rmp-footer">
  <p class="rmp-link">
    Victims provided by the <%= link_to "Raccoon Metadata Project", "http://raccoon-metadata-project.herokuapp.com" %>.
  </p>
</div>
</div>
